*
{
	margin:0;
	padding:0;
	font-family: "microsoft yahei","microsoft sans serif";
	font-size: 16px;
	color:black;
}
body,html
{
	width:100%;
	height:100%;
	
}

.bcproject,.bccustomer,.bccontact
{
	background-color:#F5F5F5;
	height: 100%;
    /*overflow-y: hidden;*/
}

.preimg
{
	width: 0px;
	height: 0px;
	display: inline;
}

/*.bchomepage .a1
{
	background-image: url(../img/elem/vision_hover.png),;
	url(../img/elem/app-hover.png),
    url(../img/elem/web-hover.png)
}*/

.bchomepage .a1
{
	background-image: url(../img/elem/visionhover.png),;
	url(../img/elem/apphover.png),
    url(../img/elem/webhover.png)
}


.bchomepage .a2
{
	background-image:url(../img/elem/web-disign-hover.png),
	url(../img/elem/vision-disign-hover.png),
	url(../img/elem/app-disign-hover.png);
}

.bcproject .a1,.bccustomer .a1,.bccontact .a1
{
	background-image: url(../img/elem/projects-hover.png),
	url(../img/elem/website-hover.png),
	url(../img/elem/mobile-app-hover.png)
	
}

.bcproject .a2,.bccustomer .a2,.bccontact .a2
{
    background-image:url(../img/elem/vision-hover.png),
	url(../img/elem/clients-hover.png),
	url(../img/elem/contact-hover.png);
}




/* ========== */
/* = project.html = */
/* ========== */

.bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bchomepage .left_side
{
	height: 100%;
    background-color: blue;
    width: 200px;
    background-color:white ;
    box-shadow: 20px 20px 5px #F5F5F5;
    overflow: hidden;
    position: absolute;
    box-shadow: 4px 0px 11px #CCC9C9;
    min-height:640px;
    z-index:200
}

.bcproject .left_side .logo,.bccustomer .left_side .logo,.bccontact .left_side .logo,.bchomepage .left_side .logo
{
    background: url(../img/elem/logo.png) no-repeat;
    margin: 30px auto;
    width: 70%;
    background-size: 92px 88px;
    height: 100px;
}

.bcproject .left_side .item_list,.bccustomer .left_side .item_list,.bccontact .left_side .item_list,.bchomepage .left_side .item_list
{
    width: 140px;
    height: auto;
    margin-left: 15%;;
}



.bcproject .left_side .item_list a,.bccustomer .left_side .item_list a,.bccontact .left_side .item_list a,.bchomepage .left_side .item_list a
{
   display:block;
}

.bcproject .left_side .item,.bccustomer .left_side .item,.bccontact .left_side .item,.bchomepage .left_side .item
{
    height: 20px;
    line-height: 20px;
    color: #AEAEAE;
    /*border-bottom: 1px solid #AEAEAE;*/
    margin: 5px;
    /*font-size: 15px;*/
    width: auto;
    display: inline-block;
}


.bcproject .left_side .item_list div,.bccustomer .left_side  .item_list div,.bccontact .left_side .item_list div,.bchomepage .left_side .item_list div
{
	transition:width 0.1s,
	height 0.1s,
    background 0.2s;
    
    -moz-transition: width 0.1s,
    height 0.1s,
    background 0.2s;
    
	-webkit-transition: width 0.1s,
	height 0.1s,
    background 0.2s;
    
	-o-transition: width 2s;width 0.1s,
	height 0.1s,
    background 0.2s;
}

.bcproject .left_side .project,.bccustomer .left_side .project,.bccontact .left_side .project,.bchomepage .left_side .project
{
    /*background: url(../img/elem/projects.png) no-repeat;
    width: 90px;
    background-size: 100% 100%;
    height: 20px;*/
   
    background: url(../img/elem/projects.png) no-repeat;
    width: 90px;
    background-size: 72px 19px;
    background-position: bottom left;
    height: 20px;
}

.bcproject .left_side .project:hover,.bccustomer .left_side .project:hover,.bccontact .left_side .project:hover,.bchomepage .left_side .project:hover
{
    /*background: url(../img/elem/projects-hover.png) no-repeat;
    width: 140px;
    background-size: 100% 100%;
    height: 20px;*/
   
    background: url(../img/elem/projects-hover.png) no-repeat;
    width: 140px;
    background-size: 100% 100%;
    background-position: bottom left;
    /*background-size: 140px 20px;*/
    height: 20px;
}



.bcproject .left_side .website,.bccustomer .left_side .website,.bccontact .left_side .website,.bchomepage .left_side .website
{
    /*background: url(../img/elem/website.png) no-repeat;
    width: 80px;
    background-size: 100% 100%;
    height: 20px;*/
    background: url(../img/elem/website.png) no-repeat;
    width: 90px;
    background-size: 74px 19px;
    background-position: bottom left;
    height: 20px;
}


.bcproject .left_side .website:hover,.bccustomer .left_side .website:hover,.bccontact .left_side .website:hover,.bchomepage .left_side .website:hover
{
    background: url(../img/elem/website-hover.png) no-repeat;
    width: 119px;
    background-size: 100% 100%;
    height: 20px;
}





.bcproject .left_side .mobile,.bccustomer .left_side .mobile,.bccontact .left_side .mobile,.bchomepage .left_side .mobile
{
    /*background: url(../img/elem/mobile-app.png) no-repeat;
    width: 120px;
    background-size: 100% 100%;
    height: 20px;*/
    background: url(../img/elem/mobile-app.png) no-repeat;
    width: 120px;
    background-size: 95px 19px;
    background-position: bottom left;
    height: 20px;
}


.bcproject .left_side .mobile:hover,.bccustomer .left_side .mobile:hover,.bccontact .left_side .mobile:hover,.bchomepage .left_side .mobile:hover
{
    background: url(../img/elem/mobile-app-hover.png) no-repeat;
    width: 150px;
    background-size: 100% 100%;
    height: 20px;
}





.bcproject .left_side .vision,.bccustomer .left_side .vision,.bccontact .left_side .vision,.bchomepage .left_side .vision
{
    /*background: url(../img/elem/vision_text.png) no-repeat;
    width: 65px;
    background-size: 100% 100%;
    height: 20px;*/
   
    background: url(../img/elem/vision_text.png) no-repeat;
    width: 65px;
    background-size: 56px 19px;
    background-position: bottom left;
    height: 20px;
}

.bcproject .left_side .vision:hover,.bccustomer .left_side .vision:hover,.bccontact .left_side .vision:hover,.bchomepage .left_side .vision:hover
{
    background: url(../img/elem/vision-hover.png) no-repeat;
    width: 125px;
    background-size: 100% 100%;
    height: 20px;
}






.bcproject .left_side .clients,.bccustomer .left_side .clients,.bccontact .left_side .clients,.bchomepage .left_side .clients
{
    /*background: url(../img/elem/clients.png) no-repeat;
    width: 80px;
    background-size: 100% 100%;
    height: 20px;*/
    background: url(../img/elem/clients.png) no-repeat;
    width: 80px;
    background-size: 62px 19px;
    background-position: bottom left;
    height: 20px;
}


.bcproject .left_side .clients:hover,.bccustomer .left_side .clients:hover,.bccontact .left_side .clients:hover,.bchomepage .left_side .clients:hover
{
    background: url(../img/elem/clients-hover.png) no-repeat;
    width: 120px;
    background-size: 100% 100%;
    height: 20px;
}




.bcproject .left_side .contact,.bccustomer .left_side .contact,.bccontact .left_side .contact,.bchomepage .left_side .contact
{
    /*background: url(../img/elem/contact.png) no-repeat;
    width: 90px;
    background-size: 100% 100%;
    height: 20px;*/
   
    background: url(../img/elem/contact.png) no-repeat;
    width: 90px;
    background-size: 64px 19px;
    background-position: bottom left;
    height: 20px;
}

.bcproject .left_side .contact:hover,.bccustomer .left_side .contact:hover,.bccontact .left_side .contact:hover,.bchomepage .left_side .contact:hover
{
    background: url(../img/elem/contact-hover.png) no-repeat;
    width: 130px;
    background-size: 100% 100%;
    height: 20px;
}





.bcproject .left_side .href_list,.bccustomer .left_side .href_list,.bccontact .left_side .href_list,.bchomepage .left_side .href_list
{
	position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
}

.bcproject .left_side .second,.bccustomer .left_side .second,.bccontact .left_side .second,.bchomepage .left_side .second
{
	margin-top:30px;
	top: 296px;
}

.bcproject .left_side .href,.bccustomer .left_side .href,.bccontact .left_side .href,.bchomepage .left_side .href
{
	display:inline-block;
}

.bcproject .left_side .dribble,.bccustomer .left_side .dribble,.bccontact .left_side .dribble,.bchomepage .left_side .dribble
{
	background:url(../img/elem/dribbble.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%;
}

.bcproject .left_side .behance,.bccustomer .left_side .behance,.bccontact .left_side .behance,.bchomepage .left_side .behance
{
	background:url(../img/elem/behance.png) no-repeat;
    width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}

.bcproject .left_side .flower,.bccustomer .left_side .flower,.bccontact .left_side .flower,.bchomepage .left_side .flower
{
	background:url(../img/elem/flower.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}

.bcproject .left_side .mail,.bccustomer .left_side .mail,.bccontact .left_side .mail,.bchomepage .left_side .mail
{
	background:url(../img/elem/mail.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}



.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
{
    position: absolute;
    right: 0;	
    min-width: 800px;
    min-height:640px;
    left: 0;
    height:100%;
    padding-left:200px
}

.bcproject .main_side .row,.bccustomer .main_side .row,.bccontact .main_side .row
{
	height:33%;
	width:100%;
	text-align: center;
	margin: 10px;
}
