/* ========== */
/* = index.html = */
/* ========== */


@media screen and (max-height:780px) 
{
    .inbody
    {
    	display: block;
    }
    
    .outbody
    {
    	display:none;
    }
}

@media screen and (min-height:780px) 
{
    .inbody
    {
    	display: none;
    }
    
    .outbody
    {
    	display:block;
    }
}

.bchomepage
{
	background-color: #EDEDED;
}

@media screen and (max-width:1024px) 
{
	.bchomepage .main
	{
	    min-width: 900px;
		min-height: 768px;
		max-width: 1024px;
		max-height: 780px;
    }
    
    .bchomepage #left_side
	{
		min-height: 768px;
		max-height: 780px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) 
{
	.bchomepage .main
	{
	    min-width: 1024px;
	    min-height: 768px;
	    max-width: 1280px;
	    max-height: 900px;
    }
    
    .bchomepage #left_side
	{
		min-height: 768px;
		max-height: 900px;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px) 
{
	.bchomepage .main
	{
	      min-width: 1280px;
		  min-height: 768px;
		  max-width: 1440px;
		  max-height: 900px;
    }
    
   .bchomepage #left_side
	{
		min-height: 768px;
		max-height: 780px;
    }
}


@media screen and (min-width:1440px) and (max-width:1660px) 
{
	.bchomepage .main
	{
	       min-width: 1440px;
		   min-height: 768px;
		   max-width: 1660px;
		   max-height: 1000px;
    }
    
    .bchomepage #left_side
	{
		min-height: 768px;
		max-height: 1000px;
    }
}


@media screen and (min-width:1660px) and (max-width:1920px) 
{
    .bchomepage .main
	{
	       min-width: 1660px;
		   min-height: 800px;
		   max-width: 1920px;
		   max-height: 1000px;
    }
    
    .bchomepage #left_side
	{
		min-height: 800px;
		max-height: 1000px;
    }
}

@media screen and (min-width:1920px) 
{
    .bchomepage .main
	{
	       min-width: 1920px;
		   min-height: 1080px;
		   /*max-width: 1920px;*/
		   /*max-height: 1000px;*/
    }
    
    .bchomepage #left_side
	{
		min-height: 1080px;
		max-height: 780px;
    }
    
}


.bchomepage .main
{
	background: url(../img/background.png) no-repeat;
    background-size: 100% 100%;
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    /*min-width: 900px;
    min-height: 768px;*/
    /*max-width: 1280px;*/
    /*max-height: 780px;*/
    position: absolute;
    /*background-size: 100%;*/
    background-position-x: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.bchomepage .show
{
	display:none;
}

.bchomepage .menu
{
	background: url(../img/elem/menu.png) no-repeat;
    width: 30px;
    height: 22px;
    background-size: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor:pointer
}

.bchomepage .main .website
{
	background: url(../img/elem/address.png) no-repeat;
    width: 153px;
    height: 14px;
    background-size: 100%;
    position: absolute;
    right: 20px;
    top: 20px;
}



.bchomepage .text
{
	margin: 0 auto;
    margin-top: 10px;
    color: white;
    height: 15px;
    max-width: 126px;
}

.bchomepage .vision_design
{
	/*background: url(../img/elem/vision.png) no-repeat;
	background-size:100% 100%;
	width:118px;
	height:100px;
	position: absolute;
    left: 9%;
    top: 200px;*/
  
    width: 14%;
    height: 100px;
    position: absolute;
    left: 9%;
    top: 30%;
  
}

.bchomepage .vision_design .bcimage
{
	background: url(../img/elem/vision.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 118px;
    margin:0 auto;
}


.bchomepage .vision_design .text
{
    background: url(../img/elem/vision-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .vision_design:hover .bcimage
{
	background: url(../img/elem/visionhover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 118px;
    margin:0 auto;
}


.bchomepage .vision_design:hover .text
{
    background: url(../img/elem/vision-disign-hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}

/*.bchomepage .text
{
    font-size: 15px;
    margin-top: 5px;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    color: white;
    width:100%;
}*/


.bchomepage .web_design
{
	/*background: url(../img/elem/web.png) no-repeat;
	background-size:100% 100%;
	width: 326px;
    height: 288px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;*/

    width: 25%;
    height: 210px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 37%;
    max-width: 233px;
}

.bchomepage .web_design .text
{
    background: url(../img/elem/web-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}

.bchomepage .web_design .bcimage
{
	background: url(../img/elem/web.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height:100%;
    max-height: 210px;
}

.bchomepage .web_design:hover .bcimage
{
	background: url(../img/elem/webhover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height:100%;
    max-height: 210px;
}

.bchomepage .web_design:hover .text
{
    background: url(../img/elem/web-disign-hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .app_design
{
    /*width: 6%;
    height: 114px;
    position: absolute;
    right: 14%;
    top: 30%;
    max-width: 61px;*/
    
        width: 11%;
    height: 114px;
    position: absolute;
    /* left: 500px; */
    right: 14%;
    top: 30%;
    /* max-width: 61px; */
}

.bchomepage .app_design .bcimage
{
	background: url(../img/elem/app.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 61px;
    margin:0 auto;
}


.bchomepage .app_design .text
{
    background: url(../img/elem/app-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .app_design:hover .bcimage
{
	background: url(../img/elem/apphover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 61px;
    margin:0 auto;
}


.bchomepage .app_design:hover .text
{
    background: url(../img/elem/app-disign-hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .pic_button .bcimage
{
	/*width: 100%;
    height: 100%;*/
}

.bchomepage  .copyright
{
	height:20px;
	line-height:20px;
	width:100%;
	position:absolute;
	bottom:0;
	text-align:center;
	color: #696969;
    font-size: 13px;
}


