*
{
	margin:0;
	padding:0;
	font-family: "microsoft yahei","microsoft sans serif";
	font-size: 16px;
	color:black;
}
body,html
{
	width:100%;
	height:100%;
	
}

.bcproject,.bccustomer,.bccontact
{
	background-color:#F5F5F5;
	height: 100%;
    /*overflow-y: hidden;*/
}


/* ========== */
/* = index.html = */
/* ========== */


@media screen and (max-height:780px) 
{
    .inbody
    {
    	display: block;
    }
    
    .outbody
    {
    	display:none;
    }
}

@media screen and (min-height:780px) 
{
    .inbody
    {
    	display: none;
    }
    
    .outbody
    {
    	display:block;
    }
}

.bchomepage
{
	background-color: #EDEDED;
}

@media screen and (max-width:1024px) 
{
	.bchomepage .main
	{
	    min-width: 900px;
		min-height: 768px;
		max-width: 1024px;
		max-height: 780px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) 
{
	.bchomepage .main
	{
	    min-width: 1024px;
	    min-height: 768px;
	    max-width: 1280px;
	    max-height: 900px;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px) 
{
	.bchomepage .main
	{
	      min-width: 1280px;
		  min-height: 768px;
		  max-width: 1440px;
		  max-height: 900px;
    }
}


@media screen and (min-width:1440px) and (max-width:1660px) 
{
	.bchomepage .main
	{
	       min-width: 1440px;
		   min-height: 768px;
		   max-width: 1660px;
		   max-height: 1000px;
    }
}


@media screen and (min-width:1660px) and (max-width:1920px) 
{
    .bchomepage .main
	{
	       min-width: 1660px;
		   min-height: 800px;
		   max-width: 1920px;
		   max-height: 1000px;
    }
}

@media screen and (min-width:1920px) 
{
    .bchomepage .main
	{
	       min-width: 1920px;
		   min-height: 1080px;
		   /*max-width: 1920px;*/
		   /*max-height: 1000px;*/
    }
    
}


.bchomepage .main
{
	background: url(../img/background.png) no-repeat;
    background-size: 100% 100%;
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    /*min-width: 900px;
    min-height: 768px;*/
    /*max-width: 1280px;*/
    /*max-height: 780px;*/
    position: absolute;
    /*background-size: 100%;*/
    background-position-x: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.bchomepage .menu
{
	background: url(../img/elem/menu.png) no-repeat;
    width: 30px;
    height: 21px;
    background-size: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
}

.bchomepage .main .website
{
	background: url(../img/elem/address.png) no-repeat;
    width: 153px;
    height: 14px;
    background-size: 100%;
    position: absolute;
    right: 20px;
    top: 20px;
}



.bchomepage .text
{
	margin: 0 auto;
    margin-top: 5px;
    color: white;
    height: 15px;
    max-width: 126px;
}

.bchomepage .vision_design
{
	/*background: url(../img/elem/vision.png) no-repeat;
	background-size:100% 100%;
	width:118px;
	height:100px;
	position: absolute;
    left: 9%;
    top: 200px;*/
  
    width: 14%;
    height: 100px;
    position: absolute;
    left: 9%;
    top: 30%;
  
}

.bchomepage .vision_design .bcimage
{
	background: url(../img/elem/vision.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 118px;
    margin:0 auto;
}


.bchomepage .vision_design .text
{
    background: url(../img/elem/vision-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .vision_design:hover .bcimage
{
	background: url(../img/elem/vision_hover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 118px;
    margin:0 auto;
}


.bchomepage .vision_design:hover .text
{
    background: url(../img/elem/vision-disign－hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}

/*.bchomepage .text
{
    font-size: 15px;
    margin-top: 5px;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    color: white;
    width:100%;
}*/


.bchomepage .web_design
{
	/*background: url(../img/elem/web.png) no-repeat;
	background-size:100% 100%;
	width: 326px;
    height: 288px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;*/

    width: 25%;
    height: 210px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 37%;
    max-width: 233px;
}

.bchomepage .web_design .text
{
    background: url(../img/elem/web-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}

.bchomepage .web_design .bcimage
{
	background: url(../img/elem/web.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height:100%;
    max-height: 210px;
}

.bchomepage .web_design:hover .bcimage
{
	background: url(../img/elem/web－hover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height:100%;
    max-height: 210px;
}

.bchomepage .web_design:hover .text
{
    background: url(../img/elem/web-disign－hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .app_design
{
    /*width: 6%;
    height: 114px;
    position: absolute;
    right: 14%;
    top: 30%;
    max-width: 61px;*/
    
        width: 11%;
    height: 114px;
    position: absolute;
    /* left: 500px; */
    right: 14%;
    top: 30%;
    /* max-width: 61px; */
}

.bchomepage .app_design .bcimage
{
	background: url(../img/elem/app.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 61px;
    margin:0 auto;
}


.bchomepage .app_design .text
{
    background: url(../img/elem/app-disign.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .app_design:hover .bcimage
{
	background: url(../img/elem/app－hover.png) no-repeat;
    background-size: 100%;
    background-position: center;
    whidth: 100%;
    height:100%;
    max-width: 61px;
    margin:0 auto;
}


.bchomepage .app_design:hover .text
{
    background: url(../img/elem/app-disign－hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*126 21*/
}


.bchomepage .pic_button .bcimage
{
	/*width: 100%;
    height: 100%;*/
}

.bchomepage  .copyright
{
	height:20px;
	line-height:20px;
	width:100%;
	position:absolute;
	bottom:0;
	text-align:center;
	color: #696969;
    font-size: 13px;
}



/* ========== */
/* = project.html = */
/* ========== */

.bcproject .left_side,.bccustomer .left_side,.bccontact .left_side
{
	height: 100%;
    background-color: blue;
    width: 200px;
    background-color:white ;
    box-shadow: 20px 20px 5px #F5F5F5;
    overflow: hidden;
    position: absolute;
    box-shadow: 4px 0px 11px #CCC9C9;
    min-height:640px;
    z-index:200
}

.bcproject .left_side .logo,.bccustomer .left_side .logo,.bccontact .left_side .logo
{
    background: url(../img/elem/logo.png) no-repeat;
    margin: 30px auto;
    width: 70%;
    background-size: 92px 88px;
    height: 100px;
}

.bcproject .left_side .item_list,.bccustomer .left_side .item_list,.bccontact .left_side .item_list
{
    width: 140px;
    height: auto;
    margin-left: 15%;;
}



.bcproject .left_side .item_list a,.bccustomer .left_side .item_list a,.bccontact .left_side .item_list a
{
   display:block;
}

.bcproject .left_side .item,.bccustomer .left_side .item,.bccontact .left_side .item
{
    height: 20px;
    line-height: 20px;
    color: #AEAEAE;
    /*border-bottom: 1px solid #AEAEAE;*/
    margin: 5px;
    /*font-size: 15px;*/
    width: auto;
    display: inline-block;
}

.bcproject .left_side .project,.bccustomer .left_side .project,.bccontact .left_side .project
{
    background: url(../img/elem/projects.png) no-repeat;
    width: 90px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .website,.bccustomer .left_side .website,.bccontact .left_side .website
{
    background: url(../img/elem/website.png) no-repeat;
    width: 80px;
    background-size: 100% 100%;
    height: 20px;
}


.bcproject .left_side .mobile,.bccustomer .left_side .mobile,.bccontact .left_side .mobile
{
    background: url(../img/elem/mobile＋app.png) no-repeat;
    width: 120px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .vision,.bccustomer .left_side .vision,.bccontact .left_side .vision
{
    background: url(../img/elem/vision_text.png) no-repeat;
    width: 65px;
    background-size: 100% 100%;
    height: 20px;
}


.bcproject .left_side .clients,.bccustomer .left_side .clients,.bccontact .left_side .clients
{
    background: url(../img/elem/clients.png) no-repeat;
    width: 80px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .contact,.bccustomer .left_side .contact,.bccontact .left_side .contact
{
    background: url(../img/elem/contact.png) no-repeat;
    width: 90px;
    background-size: 100% 100%;
    height: 20px;
}



.bcproject .left_side .right,.bccustomer .left_side .right,.bccontact .left_side .right
{
	right: 10%;
    position: absolute;
    top: 160px;
    margin-left: 0;
    
    display:none;
}

.bcproject .left_side .right .project,.bccustomer .left_side .right .project,.bccontact .left_side .right .project
{
    background: url(../img/elem/projects－hover.png) no-repeat;
    width: 140px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .right .website,.bccustomer .left_side .right .website,.bccontact .left_side .right .website
{
    background: url(../img/elem/website－hover.png) no-repeat;
    width: 119px;
    background-size: 100% 100%;
    height: 20px;
}


.bcproject .left_side .right .mobile,.bccustomer .left_side .right .mobile,.bccontact .left_side .right .mobile
{
    background: url(../img/elem/mobile＋app－hover.png) no-repeat;
    width: 150px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .right .vision,.bccustomer .left_side .right .vision,.bccontact .left_side .right .vision
{
    background: url(../img/elem/vision－hover.png) no-repeat;
    width: 125px;
    background-size: 100% 100%;
    height: 20px;
}


.bcproject .left_side .clients,.bccustomer .left_side .clients,.bccontact .left_side .clients
{
    background: url(../img/elem/clients.png) no-repeat;
    width: 80px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .contact,.bccustomer .left_side .contact,.bccontact .left_side .contact
{
    background: url(../img/elem/contact.png) no-repeat;
    width: 90px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .right .clients,.bccustomer .left_side .right .clients,.bccontact .left_side .right .clients
{
    background: url(../img/elem/clients－hover.png) no-repeat;
    width: 120px;
    background-size: 100% 100%;
    height: 20px;
}

.bcproject .left_side .right .contact,.bccustomer .left_side .right .contact,.bccontact .left_side .right .contact
{
    background: url(../img/elem/contact－hover.png) no-repeat;
    width: 130px;
    background-size: 100% 100%;
    height: 20px;
}


.bcproject .left_side .href_list,.bccustomer .left_side .href_list,.bccontact .left_side .href_list
{
	position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
}

.bcproject .left_side .second,.bccustomer .left_side .second,.bccontact .left_side .second
{
	margin-top:30px;
	top: 296px;
}

.bcproject .left_side .href,.bccustomer .left_side .href,.bccontact .left_side .href
{
	display:inline-block;
}

.bcproject .left_side .dribble,.bccustomer .left_side .dribble,.bccontact .left_side .dribble
{
	background:url(../img/elem/dribbble.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%;
}

.bcproject .left_side .behance,.bccustomer .left_side .behance,.bccontact .left_side .behance
{
	background:url(../img/elem/behance.png) no-repeat;
    width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}

.bcproject .left_side .flower,.bccustomer .left_side .flower,.bccontact .left_side .flower
{
	background:url(../img/elem/flower.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}

.bcproject .left_side .mail,.bccustomer .left_side .mail,.bccontact .left_side .mail
{
	background:url(../img/elem/mail.png) no-repeat;
	width:25px;
	height:25px;
	margin:2px;
	background-size:100% 100%
}


.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
{
    position: absolute;
    right: 0;	
    min-width: 800px;
    min-height:640px;
    left: 0;
    height:100%;
    padding-left:200px
}

.bcproject .main_side  .main
{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 5%;
    margin-top:-20px;
}


.bcproject .main_side .row,.bccustomer .main_side .row,.bccontact .main_side .row
{
	height:33%;
	width:100%;
	text-align: center;
	margin: 10px;
}

.bcproject .main_side .row .show
{
	background:url(../img/elem/computer.png) no-repeat;
	/*width: 245px;
    height: 198px;*/
    width:30%;
    margin:0 2px;
    background-size: 245px 198px;
    background-position: center;
    height:100%;
    display: inline-block;
    border:1px solid white;
    position:relative;
}

.bcproject .main_side .row .show img
{
	width:175px;
	height:102px;
	
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	
	top: 124px;
	top:-moz-calc((100% - 198px) / 2 + 32px);
	top:-webkit-calc((100% - 198px) / 2 + 32px);
	top: calc((100% - 198px) / 2 + 32px);
}

.bcproject .main_side .row .show .shadow
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    border: 2px solid green;
}



.bcproject .main_side .row .show .description
{
    position: absolute;
    width: 80%;
    top: 15%;
    height: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bcproject .main_side .row .show .title
{
    /* width: 80%; */
    position: absolute;
    color: #73E273;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
    text-align: left;
}

.bcproject .main_side .row .show .author
{
	position: absolute;
    /* text-align: left; */
    top: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
}
.bcproject .main_side .row .show .time
{
    width: 80%;
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    bottom: 15%;
    font-size: 14px;
}

.bcproject .main_side .row .show .display
{
	display:none;
}

.bcproject .main_side .row .show:hover .display
{
	display:block;
}

/* ========== */
/* = customer.html = */
/* ========== */

@media screen and (max-width:1024px) 
{
	.bccustomer .main_side .main
	{
	    width: 543px;
	    height: 722px;
	   
	    top: 20px;
	    top:-moz-calc((100% - 50px - 722px) / 2);
	    top:-webkit-calc((100% - 50px - 722px) / 2);
	    top: calc((100% - 50px - 722px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:768px;
	}
}

@media screen and (min-width:1024px) and (max-width:1280px) 
{
	.bccustomer .main_side .main
	{
	    width: 725px;
	    height: 545px;
	   
	    top: 20px;
	    top:-moz-calc((100% - 50px - 545px) / 2);
	    top:-webkit-calc((100% - 50px - 545px) / 2);
	    top: calc((100% - 50px - 545px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:768px;
	}
	

}

@media screen and (min-width:1280px) and (max-width:1440px) 
{
	.bccustomer .main_side .main
	{
	    width: 906px;
        height: 681px;
        
        top: 20px;
	    top:-moz-calc((100% - 50px - 681px) / 2);
	    top:-webkit-calc((100% - 50px - 681px) / 2);
	    top: calc((100% - 50px - 681px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:800px;
	}
}


@media screen and (min-width:1440px) and (max-width:1660px) 
{
	.bccustomer .main_side .main
	{
	    width: 1019px;
        height: 766px;
        
        top: 40px;
	    top:-moz-calc((100% - 50px - 766px) / 2);
	    top:-webkit-calc((100% - 50px - 766px) / 2);
	    top: calc((100% - 50px - 766px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:950px;
	}
}


@media screen and (min-width:1660px) and (max-width:1920px) 
{
	.bccustomer .main_side .main
	{
	    width: 1175px;
        height: 883px;
        
        top: 10px;
	    top:-moz-calc((100% - 50px - 883px) / 2);
	    top:-webkit-calc((100% - 50px - 883px) / 2);
	    top: calc((100% - 50px - 883px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:950px;
	}
}

@media screen and (min-width:1920px) 
{
	.bccustomer .main_side .main
	{
	    width: 1175px;
        height: 883px;
        
        top: 10px;
	    top:-moz-calc((100% - 50px - 883px) / 2);
	    top:-webkit-calc((100% - 50px - 883px) / 2);
	    top: calc((100% - 50px - 883px) / 2);
    }
    
    .bcproject .left_side,.bccustomer .left_side,.bccontact .left_side,.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
	{
	    min-height:950px;
	}
}


.bccustomer .main_side .main
{
    /*width: 725px;
	height: 545px;*/
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 200px;

}


.bccustomer .main_side .row .show
{
	background:url(../img/elem/brand.png) no-repeat;
	/*width: 245px;
    height: 198px;*/
    width:24%;
    background-size: 90%;
    background-position: center;
    height:100%;
    display: inline-block;
}


/* ========== */
/* = contact.html = */
/* ========== */
.bccontact .main_side .about_us
{
	height: 50%;
    position: absolute;
    width: 725px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 200px;
    
    top: 95px;
    top:-moz-calc((100% - 50px - 400px) / 2);
    top:-webkit-calc((100% - 50px - 400px) / 2);
    top: calc((100% - 50px - 400px) / 2);
}

.bccontact .main_side .about_us .show
{
	width: 49%;
    height: 100%;
    float: left;
    text-align: center;
}

.bccontact .main_side .about_us .show .item
{
	
    height: 25%;
    width: 141px;
    margin: 0 auto;
}

.bccontact .main_side .about_us .show .item *
{
	color:#696969;
	/*font-size:14px;*/
	text-align:left
}


.bccontact .main_side .about_us .show:first-child
{
	border-right:1px solid #AEAEAE;
}

.bccontact .main_side .copyright,.bccustomer .main_side .copyright
{
    width: 523px;/*为了居中，文字的宽度+200px*/
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height:20px;
    line-height: 20px;
}

.bccontact .main_side .copyright .text,.bccustomer .main_side .copyright .text
{
	color: #696969;
    font-size: 13px;
    width: 323px;/*文字占用的宽度*/
    position: absolute;
    right: 0;
}
