*
{
	margin:0;
	padding:0;
	font-family: "microsoft yahei","microsoft sans serif";
	font-size: 16px;
	color:black;
}

/* ========== */
/* = index.html = */
/* ========== */
.bchomepage
{
	background: url(../img/background.png) no-repeat;
	background-size: 100%;
	background-color: #EDEDED;
}


.menu
{
	background:url(../img/elem/menu.png) ;
	width:36px;
	height:26px;
	position:absolute;
	left:20px;
	top:20px;
}

.vision_design
{
	background: url(../img/elem/vision.png) no-repeat;
	background-size:100% 100%;
	width:118px;
	height:100px;
	position: absolute;
    left: 9%;
    top: 200px;
}

.web_design
{
	background: url(../img/elem/web.png) no-repeat;
	background-size:100% 100%;
	width: 326px;
    height: 288px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;
}

.app_design
{
	background: url(../img/elem/app.png) no-repeat;
	background-size:100% 100%;
	width:61px;
	height:114px;
	position: absolute;
    /* left: 500px; */
    right: 50px;
    top: 225px;
}



/* ========== */
/* = project.html = */
/* ========== */
.bcproject,.bccustomer,.bccontact
{
	background-color:#F5F5F5;
	height: 100%;
    overflow-y: hidden;
}

.bcproject .left_side,.bccustomer .left_side,.bccontact .left_side
{
	height: 100%;
    background-color: blue;
    width: 200px;
    background-color:white ;
    box-shadow: 20px 20px 5px #F5F5F5;
    overflow: hidden;
    position: absolute;
    box-shadow: 4px 0px 11px #CCC9C9;
    min-height:500px
}

.bcproject .left_side .logo,.bccustomer .left_side .logo,.bccontact .left_side .logo
{
    background: url(../img/elem/logo.png) no-repeat;
    margin: 30px auto;
    width: 50%;
    height: 100px;
    background-size: 100%;
}

.bcproject .left_side .item_list,.bccustomer .left_side .item_list,.bccontact .left_side .item_list
{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.bcproject .left_side .item,.bccustomer .left_side .item,.bccontact .left_side .item
{
    height: 20px;
    line-height: 20px;
    /* text-align: cente; */
    color: grey;
    border-bottom: 1px solid grey;
    margin: 5px;
    font-size: 15px;
    width: auto;
    display: inline-block;
}

.bcproject .left_side .href_list,.bccustomer .left_side .href_list,.bccontact .left_side .href_list
{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 135px;
}

.bcproject .left_side .second,.bccustomer .left_side .second,.bccontact .left_side .second
{
	margin-top:30px
}

.bcproject .left_side .href,.bccustomer .left_side .href,.bccontact .left_side .href
{
	display:inline-block;
}

.bcproject .left_side .dribble,.bccustomer .left_side .dribble,.bccontact .left_side .dribble
{
	background:url(../img/elem/dribbble.png) no-repeat;
	width:30px;
	height:30px;
	background-size:100% 100%;
}

.bcproject .left_side .behance,.bccustomer .left_side .behance,.bccontact .left_side .behance
{
	background:url(../img/elem/behance.png) no-repeat;
	width:30px;
	height:30px;
	background-size:100% 100%
}

.bcproject .left_side .flower,.bccustomer .left_side .flower,.bccontact .left_side .flower
{
	background:url(../img/elem/flower.png) no-repeat;
	width:30px;
	height:30px;
	background-size:100% 100%
}

.bcproject .left_side .mail,.bccustomer .left_side .mail,.bccontact .left_side .mail
{
	background:url(../img/elem/mail.png) no-repeat;
	width:30px;
	height:30px;
	background-size:100% 100%
}


.bcproject .main_side,.bccustomer .main_side,.bccontact .main_side
{
    position: absolute;
    right: 0;	
    min-width: 800px;
    min-height:500px;
    left: 0;
    height:100%;
    padding-left:200px
}

.bcproject .main_side .row,.bccustomer .main_side .row,.bccontact .main_side .row
{
	height:33%;
	width:100%;
	text-align: center;
}

.bcproject .main_side .row .show
{
	background:url(../img/elem/computer.png) no-repeat;
	/*width: 245px;
    height: 198px;*/
    width:32%;
    background-size: 245px 198px;
    background-position: center;
    height:100%;
    display: inline-block;
}

/* ========== */
/* = customer.html = */
/* ========== */
.bccustomer .main_side .row .show
{
	background:url(../img/elem/brand.png) no-repeat;
	/*width: 245px;
    height: 198px;*/
    width:24%;
    background-size: 245px 198px;
    background-position: center;
    height:100%;
    display: inline-block;
}


/* ========== */
/* = contact.html = */
/* ========== */
.bccontact .main_side .about_us
{
	
}

.bccontact .main_side .about_us .show
{
	width:50%;
}

.bccontact .main_side .copyright
{
	height: 14px;
    background: url(../img/elem/address.png) no-repeat;
    width: 353px;
    background-size: 153px 14px;
    background-position: right;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
